@import url("./style.css");

.active{
    display: flex !important;
}
.navegacao {
    background-color: rgb(var(--green-bright));
    box-shadow: 0 8px 24px #29f2f250;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 32px;
    right: 16px;
    left: 16px;
    border-radius: 16px;
    z-index: 999999;
}

.navegacao--menu {
    display: none;  
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: rgb(var(--green-bright));
    border-radius: 0 0 16px 16px;
    box-shadow: 0 8px 24px #29f2f250;
}

.navegacao--menu li {
    list-style-type: none;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.navegacao--menu li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.navegacao--menu a:hover {
    background-color: #00b2cd;
    color: black;
    border-radius: 30px;
}

.menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.navegacao img {
    z-index: 11;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none; 
    }
    .navegacao{
        right: 32px;
        left: 32px;
    }

    .navegacao--menu {
        display: flex;
        flex-direction: row;
        position: static;
        justify-content: flex-end;
        background-color: transparent;
    }

    .navegacao--menu li {
        padding: 0;
        width: auto;
        text-align: left;
    }

    .navegacao--menu li a {
        margin-left: 10px;
        padding: 5px 7px;
    }
}
